---
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import MarkdownPostLayout from "@layouts/BlogPost.astro";
import Layout from "@layouts/Layout.astro";
import TrackView from "@components/TrackView.vue";
import { arrayToColor, travelDark, travelLight } from "@utils/travel";

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    return posts.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

interface Props {
    entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const geoJson = (await getEntry("gpx", entry.data.gpx)) as CollectionEntry<"gpx">;
---

<Layout
        title={entry.data.title}
        background={arrayToColor(travelLight)}
        backgroundDark={arrayToColor(travelDark)}
>
    <MarkdownPostLayout frontmatter={entry.data}>
        <Content />
        <TrackView
                client:only="vue"
                slot="details"
                title={entry.data.title}
                geoJson={geoJson.data.data}
        />
        <div slot="links">
            <a href={import.meta.env.BASE_URL} class="block px-2 py-1 
            border-2 border-orange-800 dark:border-orange-200 rounded-lg mt-5 mb-10
            hover:bg-orange-900 hover:text-orange-100 hover:dark:bg-orange-200 hover:dark:text-orange-900
            ">Zurück zur Übersicht</a>
        </div>
    </MarkdownPostLayout>
</Layout>
