---
import { getCollection, getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/BaseLayout.astro";
import EarthOverview from "@components/earth/EarthOverview.vue";
import TravelEntry from "@components/TravelEntry.astro";
import { type Journey, JourneyTypeId } from "@utils/types";
import { coordAll, lineString, simplify } from "@turf/turf";
import authors from "src/authors.json";
import { type CountryData } from "country-codes-list";
import { getVisitedCountries } from "../utils/geoJson";
import Flags from "@components/Flags.astro";
import Button from "@components/Button.astro";
import TypeIcon from "@components/TypeIcon.astro";

const posts: CollectionEntry<"posts">[] = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const journeys: Journey[] = [];
const countries = new Set<CountryData>();

for (let p of posts) {
  const entry = await getEntry(p.data.gpx);
  const geoJson = entry!.data.geoJson;

  let points = coordAll(geoJson);
  if (points.length > 1) {
    points = simplify(lineString(coordAll(geoJson)), { tolerance: 0.2 })
      .geometry.coordinates;
  }

  function fromPoint(p: number[]): [number, number] {
    return [p[1], p[0]];
  }

  if (p.data.type === JourneyTypeId.roadtrip) {
    journeys.push({
      points: [fromPoint(points[0])],
    });
  } else {
    journeys.push({
      points: points.map(fromPoint),
    });
  }

  getVisitedCountries(geoJson).forEach((c) => countries.add(c));
}

const mainAuthor = authors[0].name;

const existingJourneyTypes = new Set<JourneyTypeId>();
posts.forEach((p) => existingJourneyTypes.add(p.data.type));
---

<Layout title={`Reiseblog von ${mainAuthor}`}>
  <EarthOverview
    client:only="vue"
    journeys={journeys}
    countries={countries}
    slot="background"
  />

  <h1
    class="mx-5 mt-12 mb-6 text-center font-serif text-5xl font-extrabold text-primary font-stretch-condensed sm:text-6xl"
    lang="en"
  >
    Discover my Adventures!
  </h1>
  <Flags countries={Array.from(countries)} />

  {
    /* If there is more than 1 type of journeys, show buttons to filter them */
    existingJourneyTypes.size > 1 && (
      <div class="mx-auto my-4 flex w-min justify-center gap-2">
        <Button href="?">Alle Reisen</Button>
        {existingJourneyTypes.has(JourneyTypeId.bike) && (
          <Button href={`?type=${JourneyTypeId.bike}`}>
            <TypeIcon typeId={JourneyTypeId.bike} />
          </Button>
        )}
        {existingJourneyTypes.has(JourneyTypeId.roadtrip) && (
          <Button href={`?type=${JourneyTypeId.roadtrip}`}>
            <TypeIcon typeId={JourneyTypeId.roadtrip} />
          </Button>
        )}
        {existingJourneyTypes.has(JourneyTypeId.hiking) && (
          <Button href={`?type=${JourneyTypeId.hiking}`}>
            <TypeIcon typeId={JourneyTypeId.hiking} />
          </Button>
        )}
      </div>
    )
  }

  <div
    class="mb-10 flex flex-col place-content-center items-center overflow-y-auto"
  >
    <ul
      id="blogs"
      class="grid w-max grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3"
    >
      {posts.map((p) => <TravelEntry journey={p} />)}
    </ul>
  </div>
</Layout>

<script>
  import TailwindConfig from "../../tailwind.config.mts";

  function filterElements() {
    const selectedType =
      new URL(document.URL).searchParams.get("type") ?? "all";

    const showAll = selectedType == "all";
    document.querySelectorAll<HTMLUListElement>("#blogs li").forEach((li) => {
      li.hidden = !showAll;
    });

    // highlight active button
    const hrefString = showAll ? "?" : `?type=${selectedType}`;
    const activeButton = document.querySelector<HTMLLinkElement>(
      `a[href='${hrefString}']`,
    )!;
    activeButton.style!.borderColor =
      TailwindConfig.theme.extend.colors.primary;

    if (showAll) {
      return;
    }

    document
      .querySelectorAll<HTMLUListElement>(`#blogs li.${selectedType}`)
      .forEach((li) => {
        li.hidden = false;
      });
  }

  filterElements();
</script>
