---
import {dateFormatter, getPreviewAlt} from "@utils/general";
import { Icon } from "astro-icon/components";
import JourneyIcon from "@components/TypeIcon.astro";
import {journeyTypes} from "../utils/types";
import { Image } from 'astro:assets';
import {type CollectionEntry} from "astro:content";

interface Props {
    journey: CollectionEntry<"posts">,
}

const { journey } = Astro.props;
---

<li>
    <a href={Astro.url + "/" + journey.id} class="flex items-center gap-4 group
    backdrop-filter backdrop-blur-md transition-colors duration-300
    bg-bg/50 dark:bg-bg-dark/50 
    border-2 border-bg-2 dark:border-bg-2-dark focus:border-primary focus:outline-none
    hover:bg-bg-3 dark:hover:bg-bg-2-dark dark:hover:border-bg-3-dark
    active:bg-primary active:text-bg
    visited:text-fg-inactive dark:visited:text-fg-inactive-dark
    rounded-2xl px-4 py-3 
    decoration-none select-none">
        <Image src={journey.data.image} alt={journey.data.alt} width={64} height={64} class="rounded-xl object-cover w-16 h-16 sepia group-hover:sepia-0 transition-all" loading="eager"/>
        <div>
            <h2 class="font-bold text-xl inline-flex mr-2 items-baseline">
                {journey.data.title} <Icon name="mdi:chevron-right" />
            </h2>
            <div class="flex gap-2">
                <JourneyIcon type={journeyTypes[journey.data.type]} />
                <div>·</div>
                {dateFormatter(journey.data.date, Astro.currentLocale)}
            </div>
        </div>
    </a>
</li>
