---
import { dateFormatter, getPreviewAlt } from "@utils/general";
import { Icon } from "astro-icon/components";
import JourneyIcon from "@components/TypeIcon.astro";
import { journeyTypes } from "../utils/types";
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import AstroConfig from "../../astro.config.mjs";

interface Props {
  journey: CollectionEntry<"posts">;
}

const { journey } = Astro.props;
---

<li>
  <a
    href={new URL(`${import.meta.env.BASE_URL}/${journey.id}`, Astro.url)}
    class="group decoration-none dark:hover:border-bg-3-dark flex items-center gap-4 rounded-2xl border-2 border-bg-2 border-line bg-bg/50 px-4 py-3 backdrop-blur-md backdrop-filter transition-colors duration-300 select-none visited:text-fg-inactive hover:border-primary hover:bg-bg focus:border-line focus:outline-none active:border-primary active:bg-primary active:text-bg dark:border-bg-2-dark dark:bg-bg-dark/50 dark:visited:text-fg-inactive-dark dark:hover:bg-bg-2-dark"
  >
    <Image
      src={journey.data.image}
      alt={journey.data.alt}
      width={64}
      height={64}
      class="h-16 w-16 rounded-xl object-cover sepia transition-all group-hover:sepia-0"
      loading="eager"
    />
    <div>
      <h2 class="mr-2 inline-flex items-center text-xl font-bold">
        {journey.data.title}
        <Icon name="material-symbols:chevron-right-rounded" />
      </h2>
      <div class="flex gap-2">
        <JourneyIcon type={journeyTypes[journey.data.type]} />
        <div>·</div>
        {dateFormatter(journey.data.date, Astro.currentLocale)}
      </div>
    </div>
  </a>
</li>
