---
import { dateFormatter } from "@utils/general";
import { Icon } from "astro-icon/components";
import JourneyIcon from "@components/TypeIcon.astro";
import {journeyTypes} from "@utils/travel";

const { journey } = Astro.props;
---

<li>
    <a href={journey.url} class="block 
    backdrop-filter backdrop-blur-md transition-colors duration-300
    bg-orange-100 bg-opacity-50 dark:bg-stone-700 dark:bg-opacity-50
    hover:bg-orange-50 hover:text-orange-950 dark:hover:bg-stone-700 dark:hover:text-orange-200
    active:bg-red-700 active:text-orange-50
    visited:text-stone-500 dark:visited:text-stone-300
    rounded-2xl px-6 py-4 
    decoration-none select-none">
        <h2 class="font-bold text-xl inline-flex mr-2 items-baseline">
            {journey.title} <Icon name="mdi:chevron-right" />
        </h2>
        <div class="flex gap-2">
            <JourneyIcon type={journeyTypes[journey.type]} />
            <div>·</div>
            {dateFormatter(journey.date)}
        </div>
    </a>
</li>
