---
import conf from "tailwind.config.mjs";

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="de-de">
<head>
    <meta charset="UTF-8"/>
    <meta property="og:locale" content="de_DE" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/travel/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <!-- this is a quickfix, maybe there is a better way though -->
    <meta name="theme-color" content={conf.theme.extend.colors.bg.DEFAULT} media="(prefers-color-scheme: light)"/>
    <meta name="theme-color" content={conf.theme.extend.colors.bg.dark} media="(prefers-color-scheme: dark)"/>
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="Lorenz Reiseberichte" />
    <slot name="meta">
        <meta name="description" content="Reiseblog von Lorenz Hoffmann"/>
        <meta property="og:description" content="Reiseblog von Lorenz Hoffmann"/>
        <meta property="og:type" content="website" />
    </slot>
</head>


<body class="flex flex-col justify-between min-h-screen font-sans 
text-fg bg-bg dark:text-fg-dark dark:bg-bg-dark
selection:bg-primary selection:text-bg
 -z-50">

<div class="absolute top-0 left-0 w-screen h-screen -z-40">
    <slot name="background"/>
</div>

<main class="flex flex-col items-center mt-10">
    <slot/>
</main>

<footer class="flex justify-center m-2 text-fg-inactive dark:text-fg-inactive-dark">
    <a href='https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement' class="hover:underline">Privacy Notice</a>
</footer>

</body>
</html>
